<% @photos.each do |photo| %>
  <div class="well">
    <div class="thumbnail">
      <img alt="<%= photo.caption %>" class="img-responsive" src="<%= photo.source %>">
      <div class="caption">
        <p class="lead"><%= photo.caption %></p>
        <p>
          <%= link_to photo_path(photo.id), :class => "btn btn-primary" do %>
            <i class="fa fa-search-plus"></i>
          <% end %>
          <a class="btn btn-primary" href="/photos/1">
            <i class="fa fa-search-plus"></i>
          </a>
          <a class="btn btn-success" href="//htmlpreview.github.io/?https://github.com/boothappdev/bootstrap_exercises/blob/master/photogram/solution.html#">
            <i class="fa fa-heart-o"></i>
          </a>

          <!-- Make this edit link work -->
          <a class="btn btn-warning" href="/photos/<%= photo.id %>/edit">
            <i class="fa fa-edit"></i>
          </a>
          <a class="btn btn-danger" href="/delete_photo/<%= photo.id %>">
            <i class="fa fa-trash-o"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
<% end %>


