<div class="well">
  <div class="thumbnail">
    <img alt="<%= @photo.caption %>" class="img-responsive" src="<%= @photo.source %>">
    <div class="caption">
      <p class="lead"><%= @photo.caption %></p>
      <p>
        <%= link_to photo_path(@photo.id), :class => "btn btn-primary" do %>
            <i class="fa fa-search-plus"></i>
        <% end %>
        <a class="btn btn-success" href="//htmlpreview.github.io/?https://github.com/boothappdev/bootstrap_exercises/blob/master/photogram/solution.html#">
          <i class="fa fa-heart-o"></i>
        </a>

        <%= link_to edit_photo_path(@photo.id), :class => "btn btn-warning" do %>
          <i class="fa fa-edit"></i>
        <% end %>

        <%= link_to photo_path(@photo.id), :class => "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      </p>
    </div>
  </div>
</div>
